<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>We will rock you!</title>
    <link rel="icon" href="./favicon.svg" type="image/icon">
    <link rel="stylesheet" href="css/style.css">
</head>
<h3>Name of file</h3> <a href="/img?path=<%=base%>">open current folder as image gallery</a>
<ol>
    <% for (var i=0; i < list.length; i++) { %>
        <li>
            <a href="/show?name=/<%=list[i]%>&path=<%=base%>">
                <%= list[i] %>
            </a>
        </li>
        <% } %>
</ol>

<body>

</body>

</html>