<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>We will rock you!</title>
    <link rel="icon" href="./favicon.svg" type="image/icon type">

</head>
<table>
    <thead>
        <tr>
            <th>File Number</th>
            <th>Name of file</th>
        </tr>
    </thead>
    <tbody>
        <% for (var i=0; i < list.length; i++) { %>
            <tr>
                <td>
                    <%= i %>
                </td>
                <td>
                    <a href="/play?name=/<%=list[i]%>&path=<%=base%>">
                        <%= list[i] %>
                    </a>
                </td>
            </tr>
            <% } %>
    </tbody>
</table>

<body>

</body>

</html>