<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not supported | <%=ext%>
    </title>
    <link rel="icon" href="./favicon.svg" type="image/icon">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <h6>
        <%=ext%> are not supported yet.
    </h6>
    <a href="/download?name=<%= file %>" class="button">Download this file</a>
</body>

</html>