<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Stream <%=file%>
  </title>
  <link rel="icon" href="./favicon.svg" type="image/icon">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <h6>
    Playing file: <%=file%>
  </h6>
  <video id="videoPlayer" width="100%" max-height="50vh" preload="metadata" controls autoPictureInPicture="true" loop
    muted="muted" autoplay>
    <source src="/video?name=<%= file %>" type="video/mp4" />
  </video>
  <a href="/download?name=<%= file %>">Download this file</a>
</body>

</html>